emp-sapi/src/main/mule/delete-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-employeeFlow" doc:id="08241fdb-5237-466c-a315-2d147955b506" >
		<http:listener doc:name="Listener" doc:id="1528d021-dbce-4554-973d-787aff8922dd" config-ref="HTTP_Listener_config" path="/delete-emplyee/{id}" allowedMethods="DELETE"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="46814821-b135-41ce-a34b-5515c548605f" variableName="id"/>
		<logger level="INFO" doc:name="Logger started" doc:id="5c62b8ab-f7b5-4f8b-8bd7-9b8111910607" message="Delete employee flow started"/>
		<db:delete doc:name="Delete" doc:id="7d273cbe-d02f-42e0-b20a-fbd83900ba39" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE from emp 
where emp_id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:vars.id
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="60fc72eb-58a1-4e55-b4bd-035fc880a62f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
