mule-event-demo/src/main/mule/read-xml-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="POST-read-xml-demoFlow" doc:id="f1c467f3-3378-4705-babe-d363b000a4e8" >
		<http:listener doc:name="Listener" doc:id="471e6ef9-f3ae-4e91-813d-6eee31d52f7a" config-ref="HTTP_Listener_config" path="read-xml" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="f704e0fd-eec6-4a7f-86ec-9edeb3f2e226" message="#[payload.employee.employeeID]"/>
	</flow>
</mule>
