mule-event-demo/src/main/mule/read-qeury-params-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-qeury-params-demoFlow" doc:id="4ec023ee-1907-4fdd-b809-a9e1fd81a594" >
		<http:listener doc:name="Listener" doc:id="88a954d2-dbe3-4585-9534-29d1e87e3c27" config-ref="HTTP_Listener_config" path="read-qeury-params"/>
		<logger level="INFO" doc:name="Logger" doc:id="a2c88cf8-99bc-44e9-884a-1b6276a47b4e" message="#[attributes.queryParams.employeeID]"/>
	</flow>
</mule>
