mule-event-demo/src/main/mule/read-header-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="GET-read-header-demoFlow" doc:id="ef05aa2a-6630-40da-b3a7-3f9694f05e2c" >
		<http:listener doc:name="Listener" doc:id="15821dc6-96f6-437e-bd7c-1a49a5a5f858" config-ref="HTTP_Listener_config" path="read-header" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="406d9f64-b8f8-4975-acc1-fdd52b921e7a" message="#[attributes.headers.transactionID]"/>
	</flow>
</mule>
